# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Node / Angular
node_modules/
frontend/dist/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
